@{
    ViewBag.Title = "About";
}
<br />
<br />

<br />
<br />
<h2 style="color:dodgerblue">@ViewBag.Title.</h2>

<h3 style="color:darkgoldenrod">@ViewBag.Message</h3>

<p style="color:white">Disclaimer: This is a demonstration application</p>

<p style="color:white">Jim1720@aol.com</a>
<p style="color:white">Please contact Jim Binder for further informmation on LinkedIn. Thank you.</pstyle="color:white">

<p style="color:white"> Code availabe on git hub for your review </pstyle="color:white">



