
@{
    ViewBag.Title = "Directions";
}

<h2>Directions</h2>

<ul>

    <li>Register - Click Register and enter your information. You must choose a customer identification word and also a password.
        if you have to sign in again please remember these. Then you may select a policy listed.</li>

    <li>
        Review - You can revise any customer info and select a new policy.
    </li>

</ul>