<!DOCTYPE html>
  
<style>

    .carousel-inner > .item {
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        position: absolute;
        z-index: 0;
        -webkit-transition: opacity 5s ease;
        -o-transition: opacity 5s ease;
        transition: opacity 5s ease;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }

        .carousel-inner > .item:first-of-type {
            position: relative;
        }

    .carousel-inner > .active {
        opacity: 1;
        z-index: 3;
    }

    .carousel-inner > .next.left,
    .carousel-inner > .prev.right {
        -webkit-transition: opacity 0.6s ease-in-out;
        -o-transition: opacity 0.6s ease-in-out;
        transition: opacity 0.6s ease-in-out;
        opacity: 1;
        left: 0;
        z-index: 2;
    }

    .carousel-inner > .active.left,
    .carousel-inner > .active.right {
        z-index: 1;
    }

    .carousel-control {
        z-index: 4;
    }
        
    h3,p { color: gray }

</style>
<body>

    <br />
    <div class="container"> 
    <div class="row"><div class="col-md-12"> </div><h1 align="center">Insurance Company</h1><br /></div>  



            <div class="row">

                <div class="col-md-2">

                    <br /><br />

                    <div>
                        <h3>New customer?</h3>
                        <p>
                            Please register here.
                        </p>
                        <a type="button" class="btn btn-primary" href="\Home\RegisterCustomer">Register</a>
                    </div>

                    <br /><br /><br />

                    <div>
                        <h3>Existing customer?</h3>
                        <p>
                            Update customer and policy info.
                        </p>
                        <a type ="button" class="btn btn-primary" href="\Home\CustomerReviewSignOn">Review</a>
                    </div>


                </div>


                <div class="col-md-8">


                    <div id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#my-carousel" data-slide-to="1"></li>
                            <li data-target="#my-carousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->

                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img alt="First slide" src="~/pics/lake.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h1>Welcome</h1>
                                    <h2>Meeting all your insurance needs</h2>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <div class="item">
                                <img alt="Second slide" src="~/pics/road.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h1>Know What?</h1>
                                    <h2>Expansive policies!</h2> 
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                 
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <div class="item">
                                <img alt="Third slide" src="~/pics/sunset.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h1>Room to grow.</h1>
                                    <h2>Now is the time!!!</h2>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                     
                                    <br />
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Controls -->
                <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div> 

    <br /> 
    

    <div class="row"><div class="col-md-12"> </div><h1 style="color: gray" class="display-1" align="center">We appreciate your business!</h1><br /></div> 
        
     

    </div>

</body>