
  
<br />
<br />

<br />
<br />

<br />
<br />
 
<div class="container">
    <div class="row-md-6"> 
 
        <img alt="Second slide" src="~/pics/rock.jpg" class="img-responsive">

        </div>
    </div>






<font family="arial" font-size="60" style="color:Highlight">
    <h1 display-1><i> The Insurance Company</i></h1>
</font>

<br/>
<font family="arial" font-size="35" color="Gray">
    <h1 display-1><i> Meeting all your insurance needs!</i></h1>
</font>


<br /> 