<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/379d5d59-2ff4-4f3a-9ad9-f5095e8281c7/resourcegroups/myDemo2018aMVC/providers/Microsoft.Web/sites/Insurance20180102061826</ResourceId>
    <ResourceGroup>myDemo2018aMVC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://insurance20180102061826.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>insurance20180102061826.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Insurance20180102061826</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Insurance20180102061826</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Insurance.Models.ClaimDBConnect" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=FalseData Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Connection Timeout=830" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Insurance.Models.ClaimDBConnect, Insurance" MigrationConfiguration="Insurance.Models.Configuration1, Insurance" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Insurance.Models.CustomerDBConnect" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Connection Timeout=830" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Insurance.Models.CustomerDBConnect, Insurance" MigrationConfiguration="Insurance.Models.Configuration, Insurance" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Insurance.Models.PolicyDBConnect" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=FalseData Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Connection Timeout=830" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Insurance.Models.PolicyDBConnect, Insurance" MigrationConfiguration="Insurance.Models.Configuration2, Insurance" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Insurance.Models.ServiceDBConnect" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Connection Timeout=830" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Insurance.Models.ServiceDBConnect, Insurance" MigrationConfiguration="Insurance.Models.Configuration3, Insurance" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Insurance.Models.ServiceDBConnect-Web.config Connection String">
      <ParameterValue>Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Connection Timeout=830</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Insurance.Models.PolicyDBConnect-Web.config Connection String">
      <ParameterValue>Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=FalseData Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Connection Timeout=830</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Insurance.Models.CustomerDBConnect-Web.config Connection String">
      <ParameterValue>Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Connection Timeout=830</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Insurance.Models.ClaimDBConnect-Web.config Connection String">
      <ParameterValue>Data Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=FalseData Source=tcp:insurance20180102061826dbserver.database.windows.net,1433;Initial Catalog=Insurance20180102061826_db;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=830;Encrypt=True;TrustServerCertificate=False;Connection Timeout=830</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Insurance.Models.ClaimDBConnect" />
    <_ConnectionStringsToInsert Include="Insurance.Models.CustomerDBConnect" />
    <_ConnectionStringsToInsert Include="Insurance.Models.PolicyDBConnect" />
    <_ConnectionStringsToInsert Include="Insurance.Models.ServiceDBConnect" />
  </ItemGroup>
</Project>